@page "/"

<PageTitle>Xitasorante</PageTitle>

<h1>Welcome to Xitasorante</h1>

<p>
    Introducing Xitasorante, the world's premier Italian restaurant that offers an unparalleled dining experience. 
</p>
<p>
    With a menu inspired by traditional Italian cuisine and crafted with the finest ingredients, Xitasorante presents an exquisite culinary journey for food enthusiasts. 
</p>
<p>
    Our award-winning chefs expertly prepare each dish with meticulous attention to detail, ensuring every bite is a flavor sensation. Our elegant atmosphere and exceptional service create the perfect ambiance for any occasion, whether it's a romantic dinner for two or a celebration with friends and family. 
</p>
<p>
    Come and savor the flavors of Italy at Xitasorante, where passion for food meets excellence in dining.
</p>